@import "tailwindcss/base" layer(tw-base);
@import "tailwindcss/components" layer(tw-base);
@import "../vendor/primevue/tailwind.css" layer(prime);
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@layer prime {
    /* Variables del modo claro */
    :root {
        --p-primary-color: #FFFFFF; /* Fondo claro y botones en modo oscuro */
        --p-surface-0: #FFFFFF; /* Fondo claro */
        --p-text-color: #382E2E; /* Texto en color oscuro sobre fondos claros */
    }

    /* Modo oscuro */
    @media (prefers-color-scheme: dark) {
        :root {
            --p-primary-color: #0F2E68; /* Fondo oscuro y botones en modo claro */
            --p-text-color: #FFFFFF; /* Texto blanco sobre fondo oscuro */
            --p-surface-0: #0F2E68; /* Fondo oscuro */
        }

        /* Fondo con gradiente en el modo oscuro */
        body {
            background: linear-gradient(to bottom, #001845 0%, #0F2E68 50%, #001845 100%);
            background-size: 200% 200%;
            animation: gradientMove 5s ease infinite;
        }
    }

    /* Fondo con gradiente en el modo oscuro */
    .dark body {
        background: linear-gradient(to bottom, #001845 0%, #0F2E68 50%, #001845 100%);
        background-size: 200% 200%;
        animation: gradientMove 5s ease infinite;
    }
}

/* Animación del gradiente */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@layer third-party {
    /* Your custom components */
}